PORT=3000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_DATABASE=type_orm

# JWT Secret 
JWT_SECRET=supersecretjwtkey

# Firebase Configuration 
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project-id.iam.gserviceaccount.com
FIREBASE_STORAGE_BUCKET=your-firebase-storage-bucket

# Redis Configuration 
REDIS_HOST=localhost
REDIS_PORT=6379
